<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyf.springboot.mapper.sys.UserVoMapper">
    <!--<cache eviction="LRU" flushInterval="60000" readOnly="true"/>-->
    <resultMap id="userVoMap" type="com.zyf.springboot.vo.sys.UserVo"/>

    <!-- 列举所有字段 -->
    <sql id="All_Column">
        <trim suffixOverrides=",">
            u.id,
            u.real_name,
            u.age,
            u.sex,
            u.create_time,
            u.update_time,
            ul.user_id,
            ul.username,
            ul.password,
            ul.type,
            ul.enable,
        </trim>
    </sql>

    <select id="list" resultType="UserVo" parameterType="map">
        select
        <include refid="All_Column"/>
        from user as u
        left join user_login as ul on u.id = ul.user_id
        <include refid="query_where_condition"/>
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="map">
        select count(*) from user as u
        left join user_login as on ul u.id = ul.user_id
        <include refid="query_where_condition"/>
    </select>

    <sql id="query_where_condition">
        <where>
            <if test="userVo.realName != null and userVo.realName != '' ">and real_name = #{userVo.realName}</if>
            <if test="userVo.age != null">and u.age = #{userVo.age}</if>
            <if test="userVo.sex != null">and u.sex = #{userVo.sex}</if>
        </where>
    </sql>

</mapper>