<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyf.springboot.mapper.sys.UserMapper">
    <!--<cache eviction="LRU" flushInterval="60000" readOnly="true"/>-->
    <resultMap id="userMap" type="com.zyf.springboot.entity.sys.User">
        <id column="id" property="id"/>
        <result column="real_name" property="realName"/>
        <result column="age" property="age"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 列举所有字段 -->
    <sql id="All_Column">
        <trim suffixOverrides=",">
            id,
            real_name,
            age,
            create_time,
            update_time,
        </trim>
    </sql>

    <select id="list" resultMap="userMap" parameterType="map">
        select
        <include refid="All_Column"/>
        from user
        <include refid="query_where_condition"/>
    </select>

    <select id="count" resultType="int" parameterType="map">
        select count(*) from user
        <include refid="query_where_condition"/>
    </select>

    <insert id="add" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim suffixOverrides="," prefix="(" suffix=")">
            real_name,
            age,
            create_time,
            update_time,
        </trim>
        values
        <trim suffixOverrides="," prefix="(" suffix=")">
            #{realName},
            #{age},
            now(),
            now(),
        </trim>
    </insert>

    <update id="update" parameterType="map">
        update user set update_time = now(),
        <trim suffixOverrides=",">
            real_name = #{realName},
            age = #{age},
        </trim>
        where id = #{id}
    </update>

    <sql id="query_where_condition">
        <where>
            <if test="realName != null and realName != '' ">and real_name = #{realName}</if>
            <if test="age != null">and age = #{age}</if>
        </where>
    </sql>

</mapper>