.inline {
    display: inline-block;
    margin-right: 5px;
}

.b-c-b {
    background-color: #fff;
}
.b-c-w {
    background-color: #000;
}
.f-w {
    font-weight: bold;
}

.m-b-5 {
    margin-bottom: 5px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-t-5 {
    margin-top: 5px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-r-5 {
    margin-right: 5px;
}
.m-r-10 {
    margin-right: 10px;
}

.hide {
    display: none;
}

.b-active {
    background-color: #fff;
}

table input[type=button] {
    margin: 2px 5px;
}

table td {
    text-align: center;
}